torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
soundfile
numpy==1.26.4
comet_ml
hydra-core
matplotlib
omegaconf
pandas
Pillow
torch_audiomentations
torchmetrics[audio]
tqdm
wget
scipy
gdown


black
isort
pre-commit
